<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">

            <ul class="nav nav-main">
                <li>
                    <a class="nav-link" href="{% url 'client:home' %}">
                        <i class="bx bx-home-alt" aria-hidden="true"></i>
                        <span>Home</span>
                    </a>                        
                </li>
                {% if user.is_authenticated %}
                <li class="nav-parent">
                    <a class="nav-link" href="#">
                        <i class="bx bx-cart-alt" aria-hidden="true"></i>
                        <span>Mesas y Ordenes</span>
                    </a>
                    <ul class="nav nav-children">
                        {% if user.role == 'CAJERO' or user.role == 'TENANT_ADMIN' %}
                            <li>
                                <a class="nav-link" href="{% url 'register:table_list' %}">
                                    Mesas - Cobros
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'server:create_order' %}">
                                    Crear Ordenes
                                </a>
                            </li>
                        {% else %}
                        <li>
                            <a class="nav-link" href="{% url 'server:create_order' %}">
                                Crear Ordenes
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.role == 'CAJERO' or user.role == 'TENANT_ADMIN' %}
                    <li class="nav-parent ">
                        <a class="nav-link" href="#">
                            <i class="bx bx-file" aria-hidden="true"></i>
                            <span>Reportes</span>
                        </a>
                        <ul class="nav nav-children">                        
                            <li>
                                <a class="nav-link" href="{% url 'salesreport:sales_report' %}">
                                    Reporte de Ventas
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.role == 'TENANT_ADMIN' %}
                    <li class="nav-parent">
                        <a class="nav-link" href="#">
                            <i class="bx bx-collection" aria-hidden="true"></i>
                            <span>Administracion</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a class="nav-link" href="{% url 'client:table_list_admin' %}">
                                    Mesas
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'client:category_list' %}">
                                    Categoria
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'client:dish_list' %}">
                                    Platos y Bebidas
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'client:user_list' %}">
                                    Usuarios
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <hr class="separator" />

        <div class="sidebar-widget widget-tasks">
            <div class="widget-header">
                <h6>Projects</h6>
                <div class="widget-toggle">+</div>
            </div>
            <div class="widget-content">
                <ul class="list-unstyled m-0">
                    <li><a href="#">{{tables_unavailable}} - Mesas ocupadas</a></li>
                    <li><a href="#">{{tables_available}} - Mesas disponibles</a></li>
                </ul>
            </div>
        </div>

        <hr class="separator" />
    
        {% endif %}

    </div>

    <script>
        // Maintain Scroll Position
        if (typeof localStorage !== 'undefined') {
            if (localStorage.getItem('sidebar-left-position') !== null) {
                var initialPosition = localStorage.getItem('sidebar-left-position'),
                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                sidebarLeft.scrollTop = initialPosition;
            }
        }
    </script>

</div>